html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,body {
  height: 100%;
}

.main {
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 30px;
  @extend %rubik-400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-big {
  max-width: 1800px; 
  margin: 0 auto;
  padding: 0 15px;
}