$title: #191919;
$footer-text: #7b7b7b;


%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%dm-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dm-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dm-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%poppins-700{
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}