@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  &-inner {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-menu {
    &__list {
      display: flex;
    }

    &__item+&__item {
      margin-left: 35px;
    }

    &__link {
      font-size: 15px;
      line-height: 12px;
      color: #436372;
      @extend %rubik-500;
    }
  }
}

.user {
  &-menu {
    display: flex;
    align-items: center;

    &__content {
      display: flex;
      align-items: center;
    }

    &__item+&__item {
      margin-left: 20px;
    }

    &__search {
      width: 50px;
      height: 50px;
      background-color: #edf1f4;
      border-radius: 50%;
      position: relative;
      & img {
        position: absolute;
        top: 34%;
        left: 34%;
      }
    }

    &__button {
      width: 50px;
      height: 50px;
      background-color: #a3bbc8;
      border-radius: 50%;
      position: relative;
      & img {
        position: absolute;
        top: 30%;
        left: 30%;
      }
    }
  }
}

@import "media";